<template>
  <q-page class="full-width">
    <div class="q-mt-xl q-mr-xl q-mb-xl q-ml-xl">
      <q-card>
        <q-tabs
          v-model="tab"
          dense
          class="text-dark"
          active-color="purple"
          indicator-color="purple"
          align="justify"
          narrow-indicator
        >
          <q-tab name="details" label="Details" />
          <q-tab name="callsign" label="Callsign" />
          <q-tab name="promote" label="Promote" />
          <q-tab name="movement" label="Movement" />
        </q-tabs>

        <q-separator />

        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="details">
            <h4>Update Employee Details</h4>
            <q-form
              @submit="onUpdateDetails"
              class="q-gutter-md"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="off"
              spellcheck="false"
            >
              <hr />
              <h6 class="text-center">Employee Information</h6>
              <div class="row">
                <div class="col q-mr-sm">
                  <q-input
                    filled
                    disable
                    v-model="employeeid"
                    label="Employee ID"
                    class="q-mb-md"
                  />
                  <q-input
                    v-model="callsign"
                    label="Callsign"
                    disable
                    filled
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-input
                    v-model="nik_ktp"
                    label="NIK KTP"
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-input
                    v-model="nik"
                    label="Employee NIK"
                    color="purple"
                    class="q-mb-md"
                  />
                </div>
                <div class="col">
                  <q-input
                    v-model="fullname"
                    label="Full Name"
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-input
                    v-model="address"
                    label="Address"
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-select
                    v-model="education"
                    model-value="education"
                    :options="optionsEducation"
                    label="Education"
                    :option-label="
                      (optionsEducation) =>
                        optionsEducation === null
                          ? null
                          : optionsEducation.educationname
                    "
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-input
                    v-model="phonenum"
                    type="number"
                    label="Phone Number"
                    color="purple"
                    class="q-mb-md"
                  />
                </div>
              </div>
              <br />
              <br />
              <br />
              <br />
              <hr />
              <h6 class="text-center">Job Information</h6>
              <div class="row">
                <div class="col q-mr-sm">
                  <q-select
                    disable
                    filled
                    v-model="regional"
                    :options="optionsRegional"
                    label="Regional"
                    :option-label="
                      (optionsRegional) =>
                        optionsRegional === null
                          ? null
                          : optionsRegional.regionaldept
                    "
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-select
                    disable
                    filled
                    v-model="division"
                    :options="optionsDivision"
                    :option-label="
                      (optionsDivision) =>
                        optionsDivision === null
                          ? null
                          : optionsDivision.divisioname
                    "
                    color="purple"
                    label="Division"
                    class="q-mb-md"
                  />
                  <q-select
                    filled
                    disable
                    v-model="mainjob"
                    :options="optionsMainjob"
                    label="Main Job"
                    :option-label="
                      (optionsMainjob) =>
                        optionsMainjob === null
                          ? null
                          : optionsMainjob.mainjobname
                    "
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-select
                    disable
                    filled
                    v-model="position"
                    :options="optionsPosition"
                    label="Position"
                    :option-label="
                      (optionsPosition) =>
                        optionsPosition === null
                          ? null
                          : optionsPosition.positionname
                    "
                    color="purple"
                    class="q-mb-md"
                  />
                </div>
                <div class="col">
                  <q-select
                    disable
                    filled
                    v-model="level"
                    :options="optionsLevel"
                    label="Level"
                    :option-label="
                      (optionsLevel) =>
                        optionsLevel === null ? null : optionsLevel.levelname
                    "
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-input
                    disable
                    filled
                    label="Join Date"
                    v-model="joindate"
                    mask="date"
                    color="purple"
                    class="q-mb-md"
                  >
                    <template v-slot:append>
                      <q-icon name="event" class="cursor-pointer">
                        <q-popup-proxy
                          ref="qDateProxy"
                          transition-show="scale"
                          transition-hide="scale"
                          color="purple"
                        >
                          <q-date v-model="joindate">
                            <div class="row items-center justify-end">
                              <q-btn
                                v-close-popup
                                label="Close"
                                color="primary"
                                flat
                              />
                            </div>
                          </q-date>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                  <q-input
                    filled
                    disable
                    v-model="joincallsign"
                    label="Join Callsign"
                  />
                  <br />
                  <q-input
                    filled
                    disable
                    v-model="releasecallsign"
                    label="Release Callsign"
                  />
                </div>
              </div>
              <br />
              <br />
              <br />
              <br />
              <hr />
              <h6 class="text-center">Company Information</h6>
              <div class="row">
                <div class="col q-mr-sm">
                  <q-select
                    filled
                    disable
                    v-model="company"
                    :options="optionsCompany"
                    :option-label="
                      (optionsCompany) =>
                        optionsCompany === null
                          ? null
                          : optionsCompany.companyname
                    "
                    color="purple"
                    class="q-mb-xl"
                    label="Company"
                  />
                  <q-input
                    type="email"
                    v-model="email"
                    label="Email"
                    color="purple"
                    class="q-mb-md"
                  />
                </div>
                <div class="col"></div>
              </div>
              <br />
              <br />
              <br />
              <hr />
              <q-input v-model="remark" label="Remark" type="textarea" />

              <div>
                <q-btn label="Submit" type="submit" color="purple" />
                <q-btn
                  to="/employee"
                  label="Back"
                  color="warning"
                  flat
                  class="q-ml-sm"
                />
              </div>
            </q-form>
          </q-tab-panel>

          <q-tab-panel name="callsign">
            <h4>Update Employee Callsign</h4>
            <q-form
              @submit="onUpdateCallsign"
              class="q-gutter-md"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="off"
              spellcheck="false"
            >
              <div class="row">
                <div class="col q-mr-md">
                  <h6 class="text-center">Source</h6>
                  <hr />
                  <q-input
                    filled
                    disable
                    v-model="updateCallsign.callsign"
                    label="Callsign"
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-input
                    filled
                    disable
                    v-model="updateCallsign.fullname"
                    label="Full Name"
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-select
                    filled
                    disable
                    v-model="updateCallsign.position"
                    :options="optionsPosition"
                    label="Position"
                    :option-label="
                      (optionsPosition) =>
                        optionsPosition === null
                          ? null
                          : optionsPosition.positionname
                    "
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-select
                    filled
                    disable
                    v-model="updateCallsign.level"
                    :options="optionsLevel"
                    label="Level"
                    :option-label="
                      (optionsLevel) =>
                        optionsLevel === null ? null : optionsLevel.levelname
                    "
                    color="purple"
                    class="q-mb-md"
                  />
                </div>
                <div class="col">
                  <h6 class="text-center">Destination</h6>
                  <hr />
                  <q-input
                    v-model="updateCallsign.newcallsign"
                    label="Callsign"
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-input
                    v-model="updateCallsign.newfullname"
                    label="Full Name"
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-select
                    v-model="updateCallsign.newposition"
                    :options="optionsPosition"
                    label="Position"
                    :option-label="
                      (optionsPosition) =>
                        optionsPosition === null
                          ? null
                          : optionsPosition.positionname
                    "
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-select
                    v-model="updateCallsign.newlevel"
                    :options="optionsLevel"
                    label="Level"
                    :option-label="
                      (optionsLevel) =>
                        optionsLevel === null ? null : optionsLevel.levelname
                    "
                    color="purple"
                    class="q-mb-md"
                  />
                </div>
              </div>
              <div>
                <q-btn label="Submit" type="submit" color="purple" />
                <q-btn
                  to="/employee"
                  label="Back"
                  color="warning"
                  flat
                  class="q-ml-sm"
                />
              </div>
            </q-form>
          </q-tab-panel>

          <q-tab-panel name="promote">
            <h4>Employee Promote Form</h4>
            <q-form
              @submit="onPromote"
              class="q-gutter-md"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="off"
              spellcheck="false"
            >
              <div class="row">
                <div class="col q-mr-md">
                  <h6 class="text-center">Source</h6>
                  <hr />
                  <q-input
                    filled
                    disable
                    v-model="promote.callsign"
                    label="Callsign"
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-input
                    filled
                    disable
                    v-model="promote.fullname"
                    label="Full Name"
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-select
                    filled
                    disable
                    v-model="promote.regional"
                    :options="optionsRegional"
                    label="Regional"
                    :option-label="
                      (optionsRegional) =>
                        optionsRegional === null
                          ? null
                          : optionsRegional.regionaldept
                    "
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-select
                    filled
                    disable
                    v-model="promote.division"
                    :options="optionsDivision"
                    label="Division"
                    :option-label="
                      (optionsDivision) =>
                        optionsDivision === null
                          ? null
                          : optionsDivision.divisioname
                    "
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-select
                    filled
                    disable
                    v-model="promote.mainjob"
                    :options="optionsMainjob"
                    label="Main Job"
                    :option-label="
                      (optionsMainjob) =>
                        optionsMainjob === null
                          ? null
                          : optionsMainjob.mainjobname
                    "
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-select
                    filled
                    disable
                    v-model="promote.position"
                    :options="optionsPosition"
                    label="Position"
                    :option-label="
                      (optionsPosition) =>
                        optionsPosition === null
                          ? null
                          : optionsPosition.positionname
                    "
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-select
                    filled
                    disable
                    v-model="promote.level"
                    :options="optionsLevel"
                    label="Level"
                    :option-label="
                      (optionsLevel) =>
                        optionsLevel === null ? null : optionsLevel.levelname
                    "
                    color="purple"
                    class="q-mb-md"
                  />
                </div>
                <div class="col">
                  <h6 class="text-center">Destination</h6>
                  <hr />
                  <q-input
                    v-model="promote.newcallsign"
                    label="Callsign"
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-input
                    v-model="promote.newfullname"
                    label="Full Name"
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-select
                    v-model="promote.newregional"
                    :options="optionsRegional"
                    label="Regional"
                    :option-label="
                      (optionsRegional) =>
                        optionsRegional === null
                          ? null
                          : optionsRegional.regionaldept
                    "
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-select
                    v-model="promote.newdivision"
                    :options="optionsDivision"
                    label="Division"
                    :option-label="
                      (optionsDivision) =>
                        optionsDivision === null
                          ? null
                          : optionsDivision.divisioname
                    "
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-select
                    v-model="promote.newmainjob"
                    :options="optionsMainjob"
                    label="Main Job"
                    :option-label="
                      (optionsMainjob) =>
                        optionsMainjob === null
                          ? null
                          : optionsMainjob.mainjobname
                    "
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-select
                    v-model="promote.newposition"
                    :options="optionsPosition"
                    label="Position"
                    :option-label="
                      (optionsPosition) =>
                        optionsPosition === null
                          ? null
                          : optionsPosition.positionname
                    "
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-select
                    v-model="promote.newlevel"
                    :options="optionsLevel"
                    label="Level"
                    :option-label="
                      (optionsLevel) =>
                        optionsLevel === null ? null : optionsLevel.levelname
                    "
                    color="purple"
                    class="q-mb-md"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <q-input
                    v-model="remark_promote"
                    label="Promote Remark"
                    type="textarea"
                    color="purple"
                  />
                </div>
              </div>
              <div>
                <q-btn label="Submit" type="submit" color="purple" />
                <q-btn
                  to="/employee"
                  label="Back"
                  color="warning"
                  flat
                  class="q-ml-sm"
                />
              </div>
            </q-form>
          </q-tab-panel>

          <q-tab-panel name="movement">
            <h4>Employee Movement Form</h4>
            <q-form
              @submit="onMovement"
              class="q-gutter-md"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="off"
              spellcheck="false"
            >
              <div class="row">
                <div class="col q-mr-md">
                  <h6 class="text-center">Source</h6>
                  <hr />
                  <q-input
                    filled
                    disable
                    v-model="movement.callsign"
                    label="Callsign"
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-input
                    filled
                    disable
                    v-model="movement.fullname"
                    label="Full Name"
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-input
                    filled
                    disable
                    v-model="movement.nik"
                    label="NIK"
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-select
                    filled
                    disable
                    v-model="movement.company"
                    :options="optionsCompany"
                    label="Company"
                    :option-label="
                      (optionsCompany) =>
                        optionsCompany === null
                          ? null
                          : optionsCompany.companyname
                    "
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-select
                    filled
                    disable
                    v-model="movement.regional"
                    :options="optionsRegional"
                    label="Regional"
                    :option-label="
                      (optionsRegional) =>
                        optionsRegional === null
                          ? null
                          : optionsRegional.regionaldept
                    "
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-select
                    filled
                    disable
                    v-model="movement.division"
                    :options="optionsDivision"
                    label="Division"
                    :option-label="
                      (optionsDivision) =>
                        optionsDivision === null
                          ? null
                          : optionsDivision.divisioname
                    "
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-select
                    filled
                    disable
                    v-model="movement.mainjob"
                    :options="optionsMainjob"
                    label="Main Job"
                    :option-label="
                      (optionsMainjob) =>
                        optionsMainjob === null
                          ? null
                          : optionsMainjob.mainjobname
                    "
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-select
                    filled
                    disable
                    v-model="movement.position"
                    :options="optionsPosition"
                    label="Position"
                    :option-label="
                      (optionsPosition) =>
                        optionsPosition === null
                          ? null
                          : optionsPosition.positionname
                    "
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-select
                    filled
                    disable
                    v-model="movement.level"
                    :options="optionsLevel"
                    label="Level"
                    :option-label="
                      (optionsLevel) =>
                        optionsLevel === null ? null : optionsLevel.levelname
                    "
                    color="purple"
                    class="q-mb-md"
                  />
                </div>
                <div class="col">
                  <h6 class="text-center">Destination</h6>
                  <hr />
                  <q-input
                    v-model="movement.newcallsign"
                    label="Callsign"
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-input
                    v-model="movement.newfullname"
                    label="Full Name"
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-input
                    v-model="movement.newnik"
                    label="NIK"
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-select
                    v-model="movement.newcompany"
                    :options="optionsCompany"
                    label="Company"
                    :option-label="
                      (optionsCompany) =>
                        optionsCompany === null
                          ? null
                          : optionsCompany.companyname
                    "
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-select
                    v-model="movement.newregional"
                    :options="optionsRegional"
                    label="Regional"
                    :option-label="
                      (optionsRegional) =>
                        optionsRegional === null
                          ? null
                          : optionsRegional.regionaldept
                    "
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-select
                    v-model="movement.newdivision"
                    :options="optionsDivision"
                    label="Division"
                    :option-label="
                      (optionsDivision) =>
                        optionsDivision === null
                          ? null
                          : optionsDivision.divisioname
                    "
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-select
                    v-model="movement.newmainjob"
                    :options="optionsMainjob"
                    label="Main Job"
                    :option-label="
                      (optionsMainjob) =>
                        optionsMainjob === null
                          ? null
                          : optionsMainjob.mainjobname
                    "
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-select
                    v-model="movement.newposition"
                    :options="optionsPosition"
                    label="Position"
                    :option-label="
                      (optionsPosition) =>
                        optionsPosition === null
                          ? null
                          : optionsPosition.positionname
                    "
                    color="purple"
                    class="q-mb-md"
                  />
                  <q-select
                    v-model="movement.newlevel"
                    :options="optionsLevel"
                    label="Level"
                    :option-label="
                      (optionsLevel) =>
                        optionsLevel === null ? null : optionsLevel.levelname
                    "
                    color="purple"
                    class="q-mb-md"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <q-input
                    v-model="remark_movement"
                    label="Movement Remark"
                    type="textarea"
                    color="purple"
                  />
                </div>
              </div>
              <div>
                <q-btn label="Submit" type="submit" color="purple" />
                <q-btn
                  to="/employee"
                  label="Back"
                  color="warning"
                  flat
                  class="q-ml-sm"
                />
              </div>
            </q-form>
          </q-tab-panel>
        </q-tab-panels>
      </q-card>
    </div>
  </q-page>
</template>

<script src="./js/editemp.js"></script>
