<template>
  <q-page class="full-width">
    <div class="q-mt-xl q-mr-xl q-mb-xl q-ml-xl">
      <h4>Employee Resign Form</h4>
      <q-form
        @submit="confirmResign"
        class="q-gutter-md"
        autocorrect="off"
        autocapitalize="off"
        autocomplete="off"
        spellcheck="false"
      >
        <hr />
        <h6 class="text-center">Employee Information</h6>
        <div class="row">
          <div class="col q-mr-sm">
            <q-input
              filled
              disable
              v-model="employeeid"
              label="Employee ID"
              class="q-mb-md"
            />
            <q-input
              v-model="callsign"
              label="Callsign"
              disable
              filled
              color="purple"
              class="q-mb-md"
            />
            <q-input
              filled
              disable
              v-model="nik_ktp"
              label="NIK KTP"
              color="purple"
              class="q-mb-md"
            />
            <q-input
              filled
              disable
              v-model="nik"
              label="Employee NIK"
              color="purple"
              class="q-mb-md"
            />
          </div>
          <div class="col">
            <q-input
              filled
              disable
              v-model="fullname"
              label="Full Name"
              color="purple"
              class="q-mb-md"
            />
            <q-input
              filled
              disable
              v-model="address"
              label="Address"
              color="purple"
              class="q-mb-md"
            />
            <q-select
              filled
              disable
              v-model="education"
              model-value="education"
              :options="optionsEducation"
              label="Education"
              :option-label="
                (optionsEducation) =>
                  optionsEducation === null
                    ? null
                    : optionsEducation.educationname
              "
              color="purple"
              class="q-mb-md"
            />
            <q-input
              filled
              disable
              v-model="phonenum"
              type="number"
              label="Phone Number"
              color="purple"
              class="q-mb-md"
            />
          </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <hr />
        <h6 class="text-center">Job Information</h6>
        <div class="row">
          <div class="col q-mr-sm">
            <q-select
              disable
              filled
              v-model="regional"
              :options="optionsRegional"
              label="Regional"
              :option-label="
                (optionsRegional) =>
                  optionsRegional === null ? null : optionsRegional.regionaldept
              "
              color="purple"
              class="q-mb-md"
            />
            <q-select
              disable
              filled
              v-model="division"
              :options="optionsDivision"
              :option-label="
                (optionsDivision) =>
                  optionsDivision === null ? null : optionsDivision.divisioname
              "
              color="purple"
              label="Division"
              class="q-mb-md"
            />
            <q-select
              filled
              disable
              v-model="mainjob"
              :options="optionsMainjob"
              label="Main Job"
              :option-label="
                (optionsMainjob) =>
                  optionsMainjob === null ? null : optionsMainjob.mainjobname
              "
              color="purple"
              class="q-mb-md"
            />
            <q-select
              disable
              filled
              v-model="position"
              :options="optionsPosition"
              label="Position"
              :option-label="
                (optionsPosition) =>
                  optionsPosition === null ? null : optionsPosition.positionname
              "
              color="purple"
              class="q-mb-md"
            />
          </div>
          <div class="col">
            <q-select
              disable
              filled
              v-model="level"
              :options="optionsLevel"
              label="Level"
              :option-label="
                (optionsLevel) =>
                  optionsLevel === null ? null : optionsLevel.levelname
              "
              color="purple"
              class="q-mb-md"
            />
            <q-input
              disable
              filled
              label="Join Date"
              v-model="joindate"
              color="purple"
              class="q-mb-md"
            />
            <q-input
              filled
              disable
              v-model="joincallsign"
              label="Join Callsign"
            />
            <br />
            <q-input
              filled
              disable
              v-model="releasecallsign"
              label="Release Callsign"
            />
          </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <hr />
        <h6 class="text-center">Company Information</h6>
        <div class="row">
          <div class="col q-mr-sm">
            <q-select
              filled
              disable
              v-model="company"
              :options="optionsCompany"
              :option-label="
                (optionsCompany) =>
                  optionsCompany === null ? null : optionsCompany.companyname
              "
              color="purple"
              class="q-mb-xl"
              label="Company"
            />
            <q-input
              filled
              disable
              type="email"
              v-model="email"
              label="Email"
              color="purple"
              class="q-mb-md"
            />
          </div>
          <div class="col"></div>
        </div>
        <br />
        <br />
        <br />
        <hr />
        <div class="row">
          <div class="col">
            <q-input
              label="Resign Date"
              v-model="resigndate"
              mask="date"
              color="purple"
              class="q-mb-md"
            >
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy
                    ref="qDateProxy"
                    transition-show="scale"
                    transition-hide="scale"
                    color="purple"
                  >
                    <q-date v-model="resigndate">
                      <div class="row items-center justify-end">
                        <q-btn
                          v-close-popup
                          label="Close"
                          color="purple"
                          flat
                        />
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>
          <div class="col"></div>
        </div>
        <q-input
          v-model="remark_resign"
          label="Resign Remark"
          type="textarea"
          color="purple"
        />

        <div>
          <q-btn label="Submit" type="submit" color="purple" />
          <q-btn
            to="/employee"
            label="Back"
            color="warning"
            flat
            class="q-ml-sm"
          />
        </div>
      </q-form>
      <q-dialog v-model="icon">
        <q-card style="width: 500px; max-width: 80vw">
          <h6 class="text-center">Resign Confirmation</h6>
          <div class="text-center">
            <p>
              Did <b>{{ this.fullname }}</b> Resign?
            </p>
            <p>Note: Once Resign, the Employee Can't Come Back</p>
          </div>
          <div class="text-center q-mt-md q-mr-md q-ml-md q-mb-md">
            <q-btn label="Resign" color="red" @click="doResign()" />
            <q-btn
              label="Cancel"
              color="orange"
              class="q-ml-sm"
              @click="icon = false"
            />
          </div>
        </q-card>
      </q-dialog>
    </div>
  </q-page>
</template>

<script src="./js/resignemp.js"></script>
