<template>
  <q-page class="full-width">
    <div class="fit row wrap justify-center items-center content-center">
      <div class="q-mr-xl q-ml-xl q-mt-xl q-mb-xl">
        <q-card class="my-card">
          <q-card-section>
            <div style="width: 300px">
              <h4>Login</h4>
              <q-input
                v-model="cred.username"
                label="Username"
                color="purple"
              />
              <br />
              <q-input
                type="password"
                v-model="cred.password"
                label="Password"
                color="purple"
                @keypress.enter="onSubmit()"
              />
              <br />
              <div>
                <q-btn
                  label="Login"
                  type="submit"
                  color="purple"
                  @click="onSubmit()"
                />
                <q-btn
                  label="Reset"
                  type="reset"
                  color="purple"
                  flat
                  class="q-ml-sm"
                  @click="onReset()"
                />
              </div>
            </div>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script src="./js/login.js"></script>
