<template>
  <q-page class="full-width">
    <div class="q-mt-sm q-mb-sm q-mr-sm q-ml-sm">
      <h4>Master Level</h4>
      <q-table
        class="my-sticky-column-table"
        title="List Data Level"
        :rows="rowslevel"
        :columns="columnslevel"
        :filter="filterlevel"
        row-key="name"
      >
        <template v-slot:top-right>
          <q-input
            borderless
            dense
            debounce="300"
            v-model="filterlevel"
            placeholder="Search"
          >
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </template>

        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="no" :props="props">{{ props.row.no }}</q-td>
            <q-td key="position" :props="props">{{
              props.row.position.positionname
            }}</q-td>
            <q-td key="level" :props="props">{{
              props.row.level.levelname
            }}</q-td>
            <q-td key="levellistid" :props="props">
              <q-btn-group>
                <q-btn
                  @click="doUpdate(props.row.levellistid)"
                  color="warning"
                  icon="visibility"
                />
                <q-btn
                  @click="doDelete(props.row.levellistid)"
                  color="negative"
                  icon="delete"
                />
              </q-btn-group>
            </q-td>
          </q-tr>
        </template>
      </q-table>
      <br />
      <div class="q-pa-md q-gutter-sm">
        <q-btn
          label="Create New Level"
          icon="add"
          color="purple-9"
          @click="iconlevelnew = true"
        />

        <q-btn
          label="Create New Level Record"
          icon="add"
          color="purple"
          @click="iconlevel = true"
        />
      </div>

      <q-dialog v-model="iconlevel">
        <q-card style="width: 700px; max-width: 80vw">
          <q-card-section class="row items-center q-pb-none">
            <div class="text-h6">Create New Level Record Form</div>
            <q-space />
            <q-btn icon="close" flat round dense v-close-popup />
          </q-card-section>

          <q-card-section>
            <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
              <q-select
                v-model="position"
                :options="positionOptions"
                :option-label="
                  (positionOptions) =>
                    positionOptions === null
                      ? null
                      : positionOptions.positionname
                "
                label="Position"
                color="purple"
              />
              <q-select
                v-model="level"
                :options="levelOptions"
                :option-label="
                  (levelOptions) =>
                    levelOptions === null ? null : levelOptions.levelname
                "
                label="Level"
                color="purple"
              />

              <div>
                <q-btn label="Submit" type="submit" color="purple" />
                <q-btn
                  label="Reset"
                  type="reset"
                  color="purple"
                  flat
                  class="q-ml-sm"
                />
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-dialog>

      <q-dialog v-model="icondelete">
        <q-card style="width: 500px; max-width: 80vw">
          <h6 class="text-center">Delete Confirmation</h6>
          <div class="text-center">
            <p>
              Delete <b>{{ this.del.recordlabel }}</b
              >?
            </p>
          </div>
          <div class="text-center q-mt-md q-mr-md q-ml-md q-mb-md">
            <q-btn
              label="Delete"
              color="red"
              @click="deletePosition(this.del.levellistid)"
            />
            <q-btn
              label="Cancel"
              color="orange"
              class="q-ml-sm"
              @click="icondelete = false"
            />
          </div>
        </q-card>
      </q-dialog>

      <q-dialog v-model="iconlevelnew">
        <q-card style="width: 700px; max-width: 80vw">
          <q-card-section class="row items-center q-pb-none">
            <div class="text-h6">Create New Level Form</div>
            <q-space />
            <q-btn icon="close" flat round dense v-close-popup />
          </q-card-section>

          <q-card-section>
            <q-form
              @submit="onSubmitLevel"
              @reset="onResetLevel"
              class="q-gutter-md"
            >
              <q-input v-model="levelnew" label="Level" color="purple" />

              <div>
                <q-btn label="Submit" type="submit" color="purple" />
                <q-btn
                  label="Reset"
                  type="reset"
                  color="purple"
                  flat
                  class="q-ml-sm"
                />
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-dialog>

      <q-dialog v-model="iconview">
        <q-card style="width: 700px; max-width: 80vw">
          <q-card-section class="row items-center q-pb-none">
            <div class="text-h6">Position Details</div>
            <q-space />
            <q-btn icon="close" flat round dense v-close-popup />
          </q-card-section>

          <q-card-section>
            <q-form @submit="updatePosition" class="q-gutter-md">
              <q-select
                v-model="upd.position"
                :options="positionOptions"
                :option-label="
                  (positionOptions) =>
                    positionOptions === null
                      ? null
                      : positionOptions.positionname
                "
                label="Position"
                color="purple"
              />
              <q-select
                v-model="upd.level"
                :options="levelOptions"
                :option-label="
                  (levelOptions) =>
                    levelOptions === null ? null : levelOptions.levelname
                "
                label="Level"
                color="purple"
              />

              <div>
                <q-btn label="Update" type="submit" color="purple" />
                <q-btn
                  label="Back"
                  @click="iconview = false"
                  color="orange"
                  class="q-ml-sm"
                />
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-dialog>
    </div>
  </q-page>
</template>

<script src="./js/level.js"></script>
