<template>
  <q-page class="full-width">
    <div class="q-mt-sm q-mb-sm q-mr-sm q-ml-sm">
      <h4>Master Position</h4>
      <q-table
        class="my-sticky-column-table"
        title="List Data Position"
        :rows="rowsposition"
        :columns="columnsposition"
        :filter="filterposition"
        row-key="name"
      >
        <template v-slot:top-right>
          <q-input
            borderless
            dense
            debounce="300"
            v-model="filterposition"
            placeholder="Search"
          >
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </template>

        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="no" :props="props">{{ props.row.no }}</q-td>
            <q-td key="mainJob" :props="props">{{
              props.row.mainJob.mainjobname
            }}</q-td>
            <q-td key="positionname" :props="props">{{
              props.row.positionname
            }}</q-td>
            <q-td key="positionid" :props="props">
              <q-btn-group>
                <q-btn
                  @click="doUpdatePosition(props.row.positionid)"
                  color="warning"
                  icon="visibility"
                />
                <q-btn
                  @click="doDeletePosition(props.row.positionid)"
                  color="negative"
                  icon="delete"
                />
              </q-btn-group>
            </q-td>
          </q-tr>
        </template>
      </q-table>
      <br />
      <div class="q-pa-md q-gutter-sm">
        <q-btn
          label="Create New Position"
          color="purple"
          icon="add"
          @click="iconposition = true"
        />
      </div>

      <q-dialog v-model="iconposition">
        <q-card style="width: 700px; max-width: 80vw">
          <q-card-section class="row items-center q-pb-none">
            <div class="text-h6">Create New Position Form</div>
            <q-space />
            <q-btn icon="close" flat round dense v-close-popup />
          </q-card-section>

          <q-card-section>
            <q-form
              @submit="onSubmitPosition"
              @reset="onResetPosition"
              class="q-gutter-md"
            >
              <q-select
                v-model="mainjob"
                :options="mainjobOptions"
                :option-label="
                  (mainjobOptions) =>
                    mainjobOptions === null ? null : mainjobOptions.mainjobname
                "
                label="Main Job"
                color="purple"
              />
              <q-input v-model="position" label="Position" color="purple" />

              <div>
                <q-btn label="Submit" type="submit" color="purple" />
                <q-btn
                  label="Reset"
                  type="reset"
                  color="purple"
                  flat
                  class="q-ml-sm"
                />
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-dialog>

      <q-dialog v-model="icondelete">
        <q-card style="width: 500px; max-width: 80vw">
          <h6 class="text-center">Delete Confirmation</h6>
          <div class="text-center">
            <p>
              Delete <b>{{ this.del.recordposition }}</b
              >?
            </p>
          </div>
          <div class="text-center q-mt-md q-mr-md q-ml-md q-mb-md">
            <q-btn
              label="Delete"
              color="red"
              @click="deletePosition(this.del.positionid)"
            />
            <q-btn
              label="Cancel"
              color="orange"
              class="q-ml-sm"
              @click="icondelete = false"
            />
          </div>
        </q-card>
      </q-dialog>

      <q-dialog v-model="iconview">
        <q-card style="width: 700px; max-width: 80vw">
          <q-card-section class="row items-center q-pb-none">
            <div class="text-h6">Position Details</div>
            <q-space />
            <q-btn icon="close" flat round dense v-close-popup />
          </q-card-section>

          <q-card-section>
            <q-form @submit="updatePosition" class="q-gutter-md">
              <q-select
                v-model="upd.mainjob"
                :options="mainjobOptions"
                :option-label="
                  (mainjobOptions) =>
                    mainjobOptions === null ? null : mainjobOptions.mainjobname
                "
                label="Main Job"
                color="purple"
              />
              <q-input
                v-model="upd.positionname"
                label="Position"
                color="purple"
              />

              <div>
                <q-btn label="Update" type="submit" color="purple" />
                <q-btn
                  label="Back"
                  @click="iconview = false"
                  color="orange"
                  class="q-ml-sm"
                />
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-dialog>
    </div>
  </q-page>
</template>

<script src="./js/position.js"></script>
