<template>
  <q-page class="full-width">
    <div class="q-mt-sm q-mb-sm q-mr-sm q-ml-sm">
      <h4>Master Regional</h4>
      <q-table
        class="my-sticky-column-table"
        title="List Data Regional"
        :rows="rowsregional"
        :columns="columnsregional"
        :filter="filterregional"
        row-key="name"
      >
        <template v-slot:top-right>
          <q-input
            borderless
            dense
            debounce="300"
            v-model="filterregional"
            placeholder="Search"
          >
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </template>

        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="no" :props="props">{{ props.row.no }}</q-td>
            <q-td key="regional" :props="props">{{
              props.row.regional.regionaldept
            }}</q-td>
            <q-td key="division" :props="props">{{
              props.row.division.divisioname
            }}</q-td>
            <q-td key="regionallistid" :props="props">
              <q-btn-group>
                <q-btn
                  @click="doUpdateRegional(props.row.regionallistid)"
                  color="warning"
                  icon="visibility"
                />
                <q-btn
                  @click="doDeleteRegional(props.row.regionallistid)"
                  color="negative"
                  icon="delete"
                />
              </q-btn-group>
            </q-td>
          </q-tr>
        </template>
      </q-table>
      <br />
      <div class="q-pa-md q-gutter-sm">
        <q-btn
          label="Create New Regional Dept"
          icon="add"
          color="purple-9"
          @click="iconregionaldept = true"
        />

        <q-btn
          label="Create New Regional"
          icon="add"
          color="purple"
          @click="iconregional = true"
        />
      </div>

      <q-dialog v-model="iconregional">
        <q-card style="width: 700px; max-width: 80vw">
          <q-card-section class="row items-center q-pb-none">
            <div class="text-h6">Create New Regional Form</div>
            <q-space />
            <q-btn icon="close" flat round dense v-close-popup />
          </q-card-section>

          <q-card-section>
            <q-form
              @submit="onSubmitRegional"
              @reset="onResetRegional"
              class="q-gutter-md"
            >
              <q-select
                v-model="reg"
                :options="regionalOptions"
                :option-label="
                  (regionalOptions) =>
                    regionalOptions === null
                      ? null
                      : regionalOptions.regionaldept
                "
                label="Regional"
                color="purple"
              />
              <q-select
                v-model="division"
                :options="divisionOptions"
                :option-label="
                  (divisionOptions) =>
                    divisionOptions === null
                      ? null
                      : divisionOptions.divisioname
                "
                label="Division"
                color="purple"
              />

              <div>
                <q-btn label="Submit" type="submit" color="purple" />
                <q-btn
                  label="Reset"
                  type="reset"
                  color="purple"
                  flat
                  class="q-ml-sm"
                />
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-dialog>
      <q-dialog v-model="iconregionaldept">
        <q-card style="width: 700px; max-width: 80vw">
          <q-card-section class="row items-center q-pb-none">
            <div class="text-h6">Create New Regional Dept Form</div>
            <q-space />
            <q-btn icon="close" flat round dense v-close-popup />
          </q-card-section>

          <q-card-section>
            <q-form
              @submit="onSubmitRegionalDept"
              @reset="onResetRegionalDept"
              class="q-gutter-md"
            >
              <q-input
                v-model="regionaldept"
                label="Regional Dept"
                color="purple"
              />

              <div>
                <q-btn label="Submit" type="submit" color="purple" />
                <q-btn
                  label="Reset"
                  type="reset"
                  color="purple"
                  flat
                  class="q-ml-sm"
                />
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-dialog>

      <q-dialog v-model="icondelete">
        <q-card style="width: 500px; max-width: 80vw">
          <h6 class="text-center">Delete Confirmation</h6>
          <div class="text-center">
            <p>
              Delete <b>{{ this.del.delname }}</b
              >?
            </p>
          </div>
          <div class="text-center q-mt-md q-mr-md q-ml-md q-mb-md">
            <q-btn
              label="Delete"
              color="red"
              @click="deleteRegionalList(this.del.delid)"
            />
            <q-btn
              label="Cancel"
              color="orange"
              class="q-ml-sm"
              @click="icondelete = false"
            />
          </div>
        </q-card>
      </q-dialog>

      <q-dialog v-model="iconview">
        <q-card style="width: 700px; max-width: 80vw">
          <q-card-section class="row items-center q-pb-none">
            <div class="text-h6">Regional Details</div>
            <q-space />
            <q-btn icon="close" flat round dense v-close-popup />
          </q-card-section>

          <q-card-section>
            <q-form @submit="updateRegionalList" class="q-gutter-md">
              <q-select
                v-model="upd.regional"
                :options="regionalOptions"
                :option-label="
                  (regionalOptions) =>
                    regionalOptions === null
                      ? null
                      : regionalOptions.regionaldept
                "
                label="Regional"
                color="purple"
              />
              <q-select
                v-model="upd.division"
                :options="divisionOptions"
                :option-label="
                  (divisionOptions) =>
                    divisionOptions === null
                      ? null
                      : divisionOptions.divisioname
                "
                label="Division"
                color="purple"
              />

              <div>
                <q-btn label="Update" type="submit" color="purple" />
                <q-btn
                  label="Back"
                  @click="iconview = false"
                  color="orange"
                  class="q-ml-sm"
                />
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-dialog>
    </div>
  </q-page>
</template>

<script src="./js/regional.js"></script>
