<template>
  <q-page class="full-width">
    <div class="q-mt-sm q-mb-sm q-mr-sm q-ml-sm">
      <h4>Master User</h4>
      <q-table
        class="my-sticky-column-table"
        title="User List"
        :rows="rows"
        :columns="columns"
        row-key="name"
        :filter="filter"
      >
        <template v-slot:top-right>
          <q-input
            borderless
            dense
            debounce="300"
            v-model="filter"
            placeholder="Search"
          >
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </template>

        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="no" :props="props">
              {{ props.row.no }}
            </q-td>
            <q-td key="username" :props="props">
              {{ props.row.username }}
            </q-td>
            <q-td key="fullname" :props="props">
              {{ props.row.fullname }}
            </q-td>
            <q-td key="company" :props="props">
              {{ props.row.company.companyname }}
            </q-td>
            <q-td key="regional" :props="props">
              {{ props.row.regional.regionaldept }}
            </q-td>
            <q-td key="role" :props="props">
              {{ props.row.role.rolename }}
            </q-td>
            <q-td key="action" :props="props">
              <q-btn-group>
                <q-btn
                  @click="doUpdateUser(props.row.userid)"
                  color="warning"
                  icon="visibility"
                />
                <q-btn
                  @click="doDeleteUser(props.row.userid)"
                  color="negative"
                  icon="delete"
                />
              </q-btn-group>
            </q-td>
          </q-tr>
        </template>
      </q-table>
      <br />
      <div class="q-pa-md q-gutter-sm">
        <q-btn
          label="Create New User"
          icon="add"
          color="purple"
          @click="icon = true"
        />
      </div>

      <q-dialog v-model="icon">
        <q-card style="width: 700px; max-width: 80vw">
          <q-card-section class="row items-center q-pb-none">
            <div class="text-h6">Create New User Form</div>
            <q-space />
            <q-btn icon="close" flat round dense v-close-popup />
          </q-card-section>

          <q-card-section>
            <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
              <q-input
                v-model="user.username"
                label="Username"
                color="purple"
              />

              <q-input
                v-model="user.fullName"
                label="Full Name"
                color="purple"
              />

              <q-select
                v-model="user.company"
                :options="companyOptions"
                :option-label="
                  (companyOptions) =>
                    companyOptions === null ? null : companyOptions.companyname
                "
                label="Company"
                color="purple"
              />

              <q-select
                v-model="user.regional"
                :options="regionalOptions"
                :option-label="
                  (regionalOptions) =>
                    regionalOptions === null
                      ? null
                      : regionalOptions.regionaldept
                "
                label="Regional"
                color="purple"
              />

              <q-select
                v-model="user.role"
                :options="roleOptions"
                :option-label="
                  (roleOptions) =>
                    roleOptions === null ? null : roleOptions.rolename
                "
                label="User Role"
                color="purple"
                lazy-rules
              />

              <q-input
                type="password"
                v-model="user.password"
                label="Password"
                color="purple"
              />

              <q-input
                type="password"
                v-model="user.passwordconf"
                color="purple"
                label="Password Confirmation"
              />

              <div>
                <q-btn label="Submit" type="submit" color="purple" />
                <q-btn
                  label="Reset"
                  type="reset"
                  color="purple"
                  flat
                  class="q-ml-sm"
                />
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-dialog>

      <q-dialog v-model="icondelete">
        <q-card style="width: 500px; max-width: 80vw">
          <h6 class="text-center">Delete Confirmation</h6>
          <div class="text-center">
            <p>
              Delete <b>{{ this.fullnamedelete }}'s</b> Account?
            </p>
          </div>
          <div class="text-center q-mt-md q-mr-md q-ml-md q-mb-md">
            <q-btn
              label="Delete"
              color="red"
              @click="deleteAccount(this.useriddelete)"
            />
            <q-btn
              label="Cancel"
              color="orange"
              class="q-ml-sm"
              @click="icondelete = false"
            />
          </div>
        </q-card>
      </q-dialog>

      <q-dialog v-model="iconview">
        <q-card style="width: 700px; max-width: 80vw">
          <q-card-section class="row items-center q-pb-none">
            <div class="text-h6">User Account Details</div>
            <q-space />
            <q-btn icon="close" flat round dense v-close-popup />
          </q-card-section>

          <q-card-section>
            <q-form @submit="updateAccount" class="q-gutter-md">
              <q-input
                v-model="userdetails.username"
                label="Username"
                color="purple"
              />

              <q-input
                v-model="userdetails.fullname"
                label="Full Name"
                color="purple"
              />

              <q-select
                v-model="userdetails.company"
                :options="companyOptions"
                :option-label="
                  (companyOptions) =>
                    companyOptions === null ? null : companyOptions.companyname
                "
                label="Company"
                color="purple"
              />

              <q-select
                v-model="userdetails.regional"
                :options="regionalOptions"
                :option-label="
                  (regionalOptions) =>
                    regionalOptions === null
                      ? null
                      : regionalOptions.regionaldept
                "
                label="Regional"
                color="purple"
              />

              <q-select
                v-model="userdetails.role"
                :options="roleOptions"
                :option-label="
                  (roleOptions) =>
                    roleOptions === null ? null : roleOptions.rolename
                "
                label="User Role"
                color="purple"
                lazy-rules
              />

              <div>
                <q-btn label="Update" type="submit" color="purple" />
                <q-btn
                  label="Back"
                  @click="iconview = false"
                  color="orange"
                  class="q-ml-sm"
                />
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-dialog>
    </div>
  </q-page>
</template>

<script src="./js/user.js"></script>
