<template>
  <q-page class="full-width">
    <div class="q-mt-sm q-mb-sm q-mr-sm q-ml-sm">
      <q-card class="my-card">
        <q-card-section>
          <h4>Recycle Bin Data</h4>
          <q-table
            class="my-sticky-column-table"
            title="Deleted Employee Data List"
            :rows="rows"
            :columns="columns"
            row-key="name"
            :filter="filter"
          >
            <template v-slot:top-left>
              <div class="row">
                <div class="col q-mr-xl">
                  <q-input
                    v-model="startdate"
                    mask="date"
                    hint="Start Date"
                    color="purple"
                  >
                    <template v-slot:append>
                      <q-icon name="event" class="cursor-pointer">
                        <q-popup-proxy
                          ref="qDateProxy"
                          transition-show="scale"
                          transition-hide="scale"
                          color="purple"
                        >
                          <q-date v-model="startdate">
                            <div class="row items-center justify-end">
                              <q-btn
                                v-close-popup
                                label="Close"
                                color="purple"
                                flat
                              />
                            </div>
                          </q-date>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                </div>
                <div class="col qr-mr-xl">
                  <q-input
                    v-model="enddate"
                    mask="date"
                    color="purple"
                    hint="End Date"
                  >
                    <template v-slot:append>
                      <q-icon name="event" class="cursor-pointer">
                        <q-popup-proxy
                          ref="qDateProxy"
                          transition-show="scale"
                          transition-hide="scale"
                          color="purple"
                        >
                          <q-date v-model="enddate">
                            <div class="row items-center justify-end">
                              <q-btn
                                v-close-popup
                                label="Close"
                                color="purple"
                                flat
                              />
                            </div>
                          </q-date>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                </div>
                <div class="col qr-mr-xl">
                  <div class="q-pa-md q-gutter-sm">
                    <q-btn
                      round
                      color="purple"
                      icon="search"
                      @click="filterSearch"
                    />
                    <q-btn
                      round
                      color="warning"
                      icon="history"
                      @click="resetFilter"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <q-checkbox
                    v-model="checkAll"
                    label="Check / Uncheck All"
                    @click="getEmployees(checkAll)"
                  />
                </div>
              </div>
            </template>
            <template v-slot:top-right>
              <q-input
                borderless
                dense
                debounce="300"
                v-model="filter"
                placeholder="Search"
              >
                <template v-slot:append>
                  <q-icon name="search" />
                </template>
              </q-input>
            </template>

            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td>
                  <q-checkbox
                    v-model="props.row.selected"
                    @click="
                      listOfEmployees(props.row.selected, props.row.employeeid)
                    "
                  />
                </q-td>
                <q-td key="no" :props="props">
                  {{ props.row.no }}
                </q-td>
                <q-td key="employeeid" :props="props">
                  {{ props.row.employeeid }}
                </q-td>
                <q-td key="callsign" :props="props">
                  {{ props.row.callsign }}
                </q-td>
                <q-td key="nikktp" :props="props">
                  {{ props.row.nikktp }}
                </q-td>
                <q-td key="nik" :props="props">
                  {{ props.row.nik }}
                </q-td>
                <q-td key="company" :props="props">
                  {{ props.row.company.companyname }}
                </q-td>
                <q-td key="regional" :props="props">
                  {{ props.row.regional.regionaldept }}
                </q-td>
                <q-td key="division" :props="props">
                  {{ props.row.division.divisioname }}
                </q-td>
                <q-td key="mainjob" :props="props">
                  {{ props.row.mainJob.mainjobname }}
                </q-td>
                <q-td key="position" :props="props">
                  {{ props.row.position.positionname }}
                </q-td>
                <q-td key="level" :props="props">
                  {{ props.row.level.levelname }}
                </q-td>
                <q-td key="email" :props="props">
                  {{ props.row.email }}
                </q-td>
                <q-td key="address" :props="props">
                  {{ props.row.address }}
                </q-td>
                <q-td key="education" :props="props">
                  {{ props.row.education.educationname }}
                </q-td>
                <q-td key="phonenum" :props="props">
                  {{ props.row.phonenum }}
                </q-td>
                <q-td key="remark" :props="props">
                  {{ props.row.remark }}
                </q-td>
                <q-td key="joindate" :props="props">
                  {{ props.row.joindate }}
                </q-td>
                <q-td key="employeeid" :props="props">
                  <q-btn-group>
                    <q-btn
                      @click="doView(props.row.employeeid)"
                      color="orange"
                      icon="visibility"
                    />
                  </q-btn-group>
                </q-td>
              </q-tr>
            </template>
          </q-table>
          <br />
          <div class="q-pa-md q-gutter-sm">
            <q-btn
              label="Restore"
              icon="arrow_upward"
              color="purple"
              @click="doRestore()"
            />

            <q-btn
              label="Permanent Delete"
              icon="delete_forever"
              color="red"
              @click="doPermanent()"
            />
          </div>

          <q-dialog v-model="iconview">
            <q-card style="width: 900px; max-width: 80vw">
              <div style="width: 800px" class="q-ml-xl q-mr-xl q-mt-xl q-mb-xl">
                <h4>Employee Detail</h4>
                <br />
                <q-form
                  class="q-gutter-md"
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="off"
                  spellcheck="false"
                >
                  <hr />
                  <h6 class="text-center">Employee Information</h6>
                  <div class="row">
                    <div class="col q-mr-sm">
                      <q-input
                        readonly
                        v-model="detail.employeeid"
                        label="Employee ID"
                        class="q-mb-md"
                      />
                      <q-input
                        readonly
                        v-model="detail.callsign"
                        label="Callsign"
                        color="purple"
                        class="q-mb-md"
                      />
                      <q-input
                        readonly
                        v-model="detail.nik_ktp"
                        label="NIK KTP"
                        color="purple"
                        class="q-mb-md"
                      />
                      <q-input
                        readonly
                        v-model="detail.nik"
                        label="Employee NIK"
                        color="purple"
                        class="q-mb-md"
                      />
                    </div>
                    <div class="col">
                      <q-input
                        readonly
                        v-model="detail.fullname"
                        label="Full Name"
                        color="purple"
                        class="q-mb-md"
                      />
                      <q-input
                        readonly
                        v-model="detail.address"
                        label="Address"
                        color="purple"
                        class="q-mb-md"
                      />
                      <q-select
                        readonly
                        v-model="detail.education"
                        :options="optionsEducation"
                        label="Education"
                        :option-label="
                          (optionsEducation) =>
                            optionsEducation === null
                              ? null
                              : optionsEducation.educationname
                        "
                        color="purple"
                        class="q-mb-md"
                      />
                      <q-input
                        readonly
                        v-model="detail.phonenum"
                        type="number"
                        label="Phone Number"
                        color="purple"
                        class="q-mb-md"
                      />
                    </div>
                  </div>
                  <br />
                  <br />
                  <br />
                  <br />
                  <hr />
                  <h6 class="text-center">Job Information</h6>
                  <div class="row">
                    <div class="col q-mr-sm">
                      <q-select
                        readonly
                        v-model="detail.regional"
                        :options="optionsRegional"
                        label="Regional"
                        :option-label="
                          (optionsRegional) =>
                            optionsRegional === null
                              ? null
                              : optionsRegional.regionaldept
                        "
                        color="purple"
                        class="q-mb-md"
                      />
                      <q-select
                        readonly
                        v-model="detail.division"
                        :options="optionsDivision"
                        :option-label="
                          (optionsDivision) =>
                            optionsDivision === null
                              ? null
                              : optionsDivision.divisioname
                        "
                        color="purple"
                        label="Division"
                        class="q-mb-md"
                      />
                      <q-select
                        readonly
                        v-model="detail.mainjob"
                        :options="optionsMainjob"
                        label="Main Job"
                        :option-label="
                          (optionsMainjob) =>
                            optionsMainjob === null
                              ? null
                              : optionsMainjob.mainjobname
                        "
                        color="purple"
                        class="q-mb-md"
                      />
                      <q-select
                        readonly
                        v-model="detail.position"
                        :options="optionsPosition"
                        label="Position"
                        :option-label="
                          (optionsPosition) =>
                            optionsPosition === null
                              ? null
                              : optionsPosition.positionname
                        "
                        color="purple"
                        class="q-mb-md"
                      />
                    </div>
                    <div class="col">
                      <q-select
                        readonly
                        v-model="detail.level"
                        :options="optionsLevel"
                        label="Level"
                        :option-label="
                          (optionsLevel) =>
                            optionsLevel === null
                              ? null
                              : optionsLevel.levelname
                        "
                        color="purple"
                        class="q-mb-md"
                      />
                      <q-input
                        readonly
                        v-model="detail.joindate"
                        label="Join Date"
                      />
                      <q-input
                        readonly
                        v-model="detail.joincallsign"
                        label="Join Callsign"
                      />
                      <br />
                      <q-input
                        readonly
                        v-model="detail.releasecallsign"
                        label="Release Callsign"
                      />
                    </div>
                  </div>
                  <br />
                  <br />
                  <br />
                  <br />
                  <hr />
                  <h6 class="text-center">Company Information</h6>
                  <div class="row">
                    <div class="col q-mr-sm">
                      <q-select
                        readonly
                        v-model="detail.company"
                        :options="optionsCompany"
                        :option-label="
                          (optionsCompany) =>
                            optionsCompany === null
                              ? null
                              : optionsCompany.companyname
                        "
                        color="purple"
                        class="q-mb-xl"
                        label="Company"
                      />
                      <q-input
                        readonly
                        type="email"
                        v-model="detail.email"
                        label="Email"
                        color="purple"
                        class="q-mb-md"
                      />
                    </div>
                    <div class="col"></div>
                  </div>
                  <br />
                  <br />
                  <br />
                  <hr />
                  <q-input
                    readonly
                    v-model="detail.remark"
                    label="Remark"
                    type="textarea"
                  />

                  <div>
                    <q-btn
                      label="Close"
                      color="warning"
                      @click="iconview = false"
                    />
                  </div>
                </q-form>
              </div>
            </q-card>
          </q-dialog>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script src="./js/bin.js"></script>
