<template>
  <q-page class="full-width">
    <div class="q-mt-sm q-mb-sm q-mr-sm q-ml-sm">
      <q-card class="my-card">
        <q-card-section>
          <h4>Employees Data</h4>
          <q-table
            class="my-sticky-column-table"
            title="Employees List"
            :rows="rows"
            :columns="columns"
            row-key="name"
            :filter="filter"
          >
            <template v-slot:top-right>
              <q-input
                borderless
                dense
                debounce="300"
                v-model="filter"
                placeholder="Search"
              >
                <template v-slot:append>
                  <q-icon name="search" />
                </template>
              </q-input>
            </template>

            <template v-slot:top-left>
              <div class="row">
                <div class="col q-mr-xl q-mt-md">
                  <q-select
                    v-model="selectCompany"
                    :options="optionsCompany"
                    :option-label="
                      (companyOptions) =>
                        companyOptions === null
                          ? null
                          : companyOptions.companyname
                    "
                    options-cover
                    style="min-width: 150px"
                    color="purple"
                    emit-value
                    map-options
                    dense
                    options-dense
                    label="Company"
                  />
                </div>
                <div v-if="role != 1">
                  <div class="col q-ml-xl" style="margin-left: 80px">
                    <div class="q-pa-md q-gutter-sm">
                      <q-btn
                        round
                        color="purple"
                        icon="search"
                        @click="filterSearch"
                      />
                      <q-btn
                        round
                        color="warning"
                        icon="history"
                        @click="resetFilter"
                      />
                    </div>
                  </div>
                </div>
                <div class="col q-mr-xl q-mt-md">
                  <div v-if="role == 1">
                <q-select
                  v-model="selectRegional"
                  :options="optionsRegional"
                  :option-label="
                    (optionsRegional) =>
                      optionsRegional === null
                        ? null
                        : optionsRegional.regionaldept
                  "
                  options-cover
                  style="min-width: 150px"
                  color="purple"
                  emit-value
                  map-options
                  dense
                  options-dense
                  label="Regional"
                />
                  </div>
                </div>
                <div class="col q-mr-xl q-mt-md">
                  <div v-if="role == 1">
                  <q-select
                    v-model="selectDivision"
                    :options="optionsDivision"
                    :option-label="
                      (optionsDivision) =>
                        optionsDivision === null
                          ? null
                          : optionsDivision.divisioname
                    "
                    options-cover
                    style="min-width: 150px"
                    color="purple"
                    emit-value
                    map-options
                    dense
                    options-dense
                    label="Division"
                  />
                  </div>
                </div>
                <div class="col q-mr-xl q-mt-md">
                  <div v-if="role == 1">
                  <q-select
                    v-model="selectPosition"
                    :options="optionsPosition"
                    :option-label="
                      (optionsPosition) =>
                        optionsPosition === null
                          ? null
                          : optionsPosition.positionname
                    "
                    options-cover
                    style="min-width: 150px"
                    color="purple"
                    emit-value
                    map-options
                    dense
                    options-dense
                    label="Position"
                  />
                  </div>
                </div>
                <div v-if="role == 1">
                  <div class="col q-ml-md">
                  <div class="q-pa-md q-gutter-sm">
                    <q-btn
                      round
                      color="purple"
                      icon="search"
                      @click="filterSearch"
                    />
                    <q-btn
                      round
                      color="warning"
                      icon="history"
                      @click="resetFilter"
                    />
                    <q-btn
                        round
                        color="secondary"
                        icon="download"
                        @click="downloadReport()"
                      />
                  </div>
                </div>
                </div>
              </div>
              <div class="row">
                <div v-if="role == 1">
                  <div class="col">
                  <q-checkbox
                    v-model="checkAll"
                    label="Check / Uncheck All"
                    @click="getEmployees(checkAll)"
                  />
                </div>
                </div>
              </div>
            </template>

            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td key="employeeid" :props="props">
                  <div v-if="role == 1">
                    <q-checkbox
                    v-model="props.row.selected"
                    @click="
                      listOfEmployees(props.row.selected, props.row.employeeid)
                    "
                  />
                  </div>
                  <div v-else>
                    <q-checkbox
                    disable
                    v-model="props.row.selected"
                    @click="
                      listOfEmployees(props.row.selected, props.row.employeeid)
                    "
                  />
                  </div>
                </q-td>
                <q-td key="no" :props="props">
                  {{ props.row.no }}
                </q-td>
                <q-td key="employeeid" :props="props">
                  {{ props.row.employeeid }}
                </q-td>
                <q-td key="fullname" :props="props">
                  {{ props.row.fullname }}
                </q-td>
                <q-td key="callsign" :props="props">
                  {{ props.row.callsign }}
                </q-td>
                <q-td key="nikktp" :props="props">
                  {{ props.row.nikktp }}
                </q-td>
                <q-td key="nik" :props="props">
                  {{ props.row.nik }}
                </q-td>
                <q-td key="company" :props="props">
                  {{ props.row.company.companyname }}
                </q-td>
                <q-td key="regional" :props="props">
                  {{ props.row.regional.regionaldept }}
                </q-td>
                <q-td key="division" :props="props">
                  {{ props.row.division.divisioname }}
                </q-td>
                <q-td key="mainjob" :props="props">
                  {{ props.row.mainJob.mainjobname }}
                </q-td>
                <q-td key="position" :props="props">
                  {{ props.row.position.positionname }}
                </q-td>
                <q-td key="level" :props="props">
                  {{ props.row.level.levelname }}
                </q-td>
                <q-td key="email" :props="props">
                  {{ props.row.email }}
                </q-td>
                <q-td key="address" :props="props">
                  {{ props.row.address }}
                </q-td>
                <q-td key="education" :props="props">
                  {{ props.row.education.educationname }}
                </q-td>
                <q-td key="phonenum" :props="props">
                  {{ props.row.phonenum }}
                </q-td>
                <q-td key="remark" :props="props">
                  {{ props.row.remark }}
                </q-td>
                <q-td key="joindate" :props="props">
                  {{ props.row.joindate }}
                </q-td>
                <q-td key="joincallsign" :props="props">
                  {{ props.row.joincallsign }}
                </q-td>
                <q-td key="action" :props="props">
                  <div v-if="role == 1">
                    <q-btn-dropdown color="purple" label="Action">
                    <q-list>
                      <q-item
                        clickable
                        v-close-popup
                        @click="editEmployee(props.row.employeeid)"
                      >
                        <q-item-section>
                          <q-item-label>Edit</q-item-label>
                        </q-item-section>
                      </q-item>

                      <q-item
                        clickable
                        v-close-popup
                        @click="promoteEmployee(props.row.employeeid)"
                      >
                        <q-item-section>
                          <q-item-label>Promote</q-item-label>
                        </q-item-section>
                      </q-item>

                      <q-item
                        clickable
                        v-close-popup
                        @click="movementEmployee(props.row.employeeid)"
                      >
                        <q-item-section>
                          <q-item-label>Movement</q-item-label>
                        </q-item-section>
                      </q-item>

                      <q-item
                        clickable
                        v-close-popup
                        @click="resignEmployee(props.row.employeeid)"
                      >
                        <q-item-section>
                          <q-item-label>Resign</q-item-label>
                        </q-item-section>
                      </q-item>
                      <q-item
                        clickable
                        v-close-popup
                        @click="showBeforeDelete(props.row.employeeid)"
                      >
                        <q-item-section>
                          <q-item-label>Delete</q-item-label>
                        </q-item-section>
                      </q-item>
                    </q-list>
                  </q-btn-dropdown>
                  </div>
                  <div v-else>
                    No Action
                  </div>
                </q-td>
              </q-tr>
            </template>

          </q-table>
          <div v-if="role == 1">
            <div class="q-pa-md q-gutter-sm">
            <q-btn
              label="Single Insert"
              icon="add"
              color="purple"
              to="/extended/newemployee"
            />

            <q-btn
              label="Multiple Insert"
              icon="dns"
              color="deep-orange"
              @click="iconmultiple = true"
            />
            <q-btn
              label="Download Bulk Insert/Update Template"
              icon="download"
              color="green"
              @click="downloadTemplate()"
            />
          </div>
          </div>

          <q-dialog v-model="iconmultiple">
            <q-card style="width: 700px; max-width: 80vw">
              <q-card-section class="row items-center q-pb-none">
                <div class="text-h6">Bulk Insert New Employee Form</div>
                <q-space />
                <q-btn icon="close" flat round dense v-close-popup />
              </q-card-section>

              <q-card-section>
                <q-form
                  @submit="onSubmitBulk"
                  @reset="onResetBulk"
                  class="q-gutter-md"
                  enctype=multipart/form-data
                >
                  <q-file
                    color="purple"
                    v-model="file"
                    label="Excel Template File"
                  >
                    <template v-slot:prepend>
                      <q-icon name="attach_file" />
                    </template>
                  </q-file>

                  <div>
                    <q-btn label="Submit" type="submit" color="purple" />
                    <q-btn
                      label="Reset"
                      type="reset"
                      color="purple"
                      flat
                      class="q-ml-sm"
                    />
                  </div>
                </q-form>
              </q-card-section>
            </q-card>
          </q-dialog>

          <q-dialog v-model="icondelete">
        <q-card style="width: 500px; max-width: 80vw">
          <h6 class="text-center">Delete Confirmation</h6>
          <div class="text-center">
            <p>
              Delete <b>{{ this.confDel.empName }}</b
              >?
            </p>
            <p>The Data Will be Moved to Bin, You Can Restore the Data Again</p>
          </div>
          <div class="text-center q-mt-md q-mr-md q-ml-md q-mb-md">
            <q-btn
              label="Delete"
              color="red"
              @click="deleteEmployee(this.confDel.empId)"
            />
            <q-btn
              label="Cancel"
              color="orange"
              class="q-ml-sm"
              @click="icondelete = false"
            />
          </div>
        </q-card>
          </q-dialog>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script src="./js/employee.js"></script>
