<template>
  <q-page class="full-width">
    <div class="q-mt-sm q-mb-sm q-mr-sm q-ml-sm">
      <q-card class="my-card">
        <q-card-section>
          <h4>Main Job Data</h4>
          <q-table
            class="my-sticky-column-table"
            title="Main Job List"
            :rows="rows"
            :columns="columns"
            row-key="name"
            :filter="filter"
          >
            <template v-slot:top-left>
              <q-select
                v-model="select"
                :options="options"
                option-value="name"
                options-cover
                style="min-width: 150px"
                emit-value
                map-options
                dense
                options-dense
                label="Main Job"
              />
            </template>
            <template v-slot:top-right>
              <q-input
                borderless
                dense
                debounce="300"
                v-model="filter"
                placeholder="Search"
              >
                <template v-slot:append>
                  <q-icon name="search" />
                </template>
              </q-input>
            </template>

            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td key="no" :props="props">
                  {{ props.row.no }}
                </q-td>
                <q-td key="callsign" :props="props">
                  {{ props.row.callsign }}
                </q-td>
                <q-td key="fullname" :props="props">
                  {{ props.row.fullname }}
                </q-td>
                <q-td key="regional" :props="props">
                  {{ props.row.regional }}
                </q-td>
                <q-td key="area" :props="props">
                  {{ props.row.area }}
                </q-td>
                <q-td key="mainjob" :props="props">
                  {{ props.row.mainjob }}
                </q-td>
                <q-td key="position" :props="props">
                  {{ props.row.position }}
                </q-td>
              </q-tr>
            </template>
          </q-table>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script src="./js/job.js"></script>
