<template>
  <q-page class="full-width">
    <div class="q-mt-sm q-mb-sm q-mr-sm q-ml-sm">
      <q-card class="my-card">
        <q-card-section>
          <h4>Peformance Report</h4>
          <q-card class="my-card">
            <q-card-section>
              <q-table
                class="my-sticky-column-table"
                title="Productivity"
                :rows="productivityRows"
                :columns="productivityColumns"
                row-key="name"
                :filter="filter"
              >
                <template v-slot:body="props">
                  <q-tr :props="props">
                    <q-td key="regionalname" :props="props">
                      {{ props.row.regionalname }}
                    </q-td>
                    <q-td key="team" :props="props">
                      {{ props.row.team }}
                    </q-td>
                    <q-td key="attedance" :props="props">
                      {{ props.row.attedance }}
                    </q-td>
                    <q-td key="countofln" :props="props">
                      {{ props.row.countofln }}
                    </q-td>
                    <q-td key="ticketpoint" :props="props">
                      {{ props.row.ticketpoint }}
                    </q-td>
                    <q-td key="value" :props="props">
                      {{ props.row.value }}
                    </q-td>
                  </q-tr>
                </template>
              </q-table>
              <br />
              <q-table
                class="my-sticky-column-table"
                title="Attedance Point"
                :rows="attedanceRows"
                :columns="attedanceColumns"
                row-key="name"
                :filter="filter"
              >
                <template v-slot:body="props">
                  <q-tr :props="props">
                    <q-td key="regionalname" :props="props">
                      {{ props.row.regionalname }}
                    </q-td>
                    <q-td key="team" :props="props">
                      {{ props.row.team }}
                    </q-td>
                    <q-td key="totalschedule" :props="props">
                      {{ props.row.totalschedule }}
                    </q-td>
                    <q-td key="countofln" :props="props">
                      {{ props.row.countofln }}
                    </q-td>
                    <q-td key="countoflate" :props="props">
                      {{ props.row.countoflate }}
                    </q-td>
                    <q-td key="countofoverdue" :props="props">
                      {{ props.row.countofoverdue }}
                    </q-td>
                    <q-td key="attedancepoint" :props="props">
                      {{ props.row.attedancepoint }}
                    </q-td>
                    <q-td key="value" :props="props">
                      {{ props.row.value }}
                    </q-td>
                  </q-tr>
                </template>
              </q-table>
              <br />
              <q-table
                class="my-sticky-column-table"
                title="Ticket Point"
                :rows="ticketPointRows"
                :columns="ticketPointColumns"
                row-key="name"
                :filter="filter"
              >
                <template v-slot:body="props">
                  <q-tr :props="props">
                    <q-td key="regionalname" :props="props">
                      {{ props.row.regionalname }}
                    </q-td>
                    <q-td key="team" :props="props">
                      {{ props.row.team }}
                    </q-td>
                    <q-td key="a" :props="props">
                      {{ props.row.a }}
                    </q-td>
                    <q-td key="a1" :props="props">
                      {{ props.row.a1 }}
                    </q-td>
                    <q-td key="a2" :props="props">
                      {{ props.row.a2 }}
                    </q-td>
                    <q-td key="a3" :props="props">
                      {{ props.row.a3 }}
                    </q-td>
                    <q-td key="b" :props="props">
                      {{ props.row.b }}
                    </q-td>
                    <q-td key="b1" :props="props">
                      {{ props.row.b1 }}
                    </q-td>
                    <q-td key="b2" :props="props">
                      {{ props.row.b2 }}
                    </q-td>
                    <q-td key="b3" :props="props">
                      {{ props.row.b3 }}
                    </q-td>
                    <q-td key="req" :props="props">
                      {{ props.row.req }}
                    </q-td>
                    <q-td key="totalticketpoint" :props="props">
                      {{ props.row.totalticketpoint }}
                    </q-td>
                  </q-tr>
                </template>
              </q-table>
            </q-card-section>
          </q-card>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script src="./js/peformance.js"></script>
