<template>
  <q-page class="full-width">
    <div class="q-mt-sm q-mb-sm q-mr-sm q-ml-sm">
      <q-card class="my-card">
        <q-card-section>
          <h4>Vehicle Data</h4>
          <q-table
            class="my-sticky-column-table"
            title="Vehicle List"
            :rows="rows"
            :columns="columns"
            row-key="name"
            :filter="filter"
          >
            <template v-slot:top-left>
              <q-select
                v-model="select"
                :options="options"
                option-value="name"
                options-cover
                style="min-width: 150px"
                emit-value
                map-options
                dense
                options-dense
                label="Company"
              />
            </template>
            <template v-slot:top-right>
              <q-input
                borderless
                dense
                debounce="300"
                v-model="filter"
                placeholder="Search"
              >
                <template v-slot:append>
                  <q-icon name="search" />
                </template>
              </q-input>
            </template>

            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td key="no" :props="props">
                  {{ props.row.no }}
                </q-td>
                <q-td key="name" :props="props">
                  {{ props.row.name }}
                </q-td>
                <q-td key="codename" :props="props">
                  {{ props.row.codename }}
                </q-td>
                <q-td key="hubcode" :props="props">
                  {{ props.row.hubcode }}
                </q-td>
                <q-td key="jobtitle" :props="props">
                  {{ props.row.jobtitle }}
                </q-td>
                <q-td key="skillset" :props="props">
                  {{ props.row.skillset }}
                </q-td>
                <q-td key="numberplate" :props="props">
                  {{ props.row.numberplate }}
                </q-td>
                <q-td key="company" :props="props">
                  {{ props.row.company }}
                </q-td>
                <q-td key="action" :props="props">
                  <q-btn-group>
                    <q-btn
                      @click="doUpdateVehicle(props.row.action)"
                      color="warning"
                      icon="visibility"
                    />
                    <q-btn
                      @click="doDeleteVehicle(props.row.action)"
                      color="negative"
                      icon="delete"
                    />
                  </q-btn-group>
                </q-td>
              </q-tr>
            </template>
          </q-table>
          <br />
          <div class="q-pa-md q-gutter-sm">
            <q-btn
              label="Insert Vehicle"
              icon="add"
              color="primary"
              @click="icon = true"
            />

            <q-btn label="Download Excel" icon="download" color="secondary" />
          </div>

          <q-dialog v-model="icon">
            <q-card style="width: 700px; max-width: 80vw">
              <q-card-section class="row items-center q-pb-none">
                <div class="text-h6">Insert New Vehicle Form</div>
                <q-space />
                <q-btn icon="close" flat round dense v-close-popup />
              </q-card-section>

              <q-card-section>
                <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
                  <q-input
                    v-model="name"
                    label="Name"
                    lazy-rules
                    :rules="[
                      (val) => (val && val.length > 0) || 'Please type name',
                    ]"
                  />

                  <q-input
                    v-model="codename"
                    label="Code Name"
                    lazy-rules
                    :rules="[
                      (val) =>
                        (val && val.length > 0) || 'Please type code name',
                    ]"
                  />

                  <q-select
                    v-model="area"
                    :options="areaOptions"
                    label="Area"
                    lazy-rules
                    :rules="[
                      (val) => (val && val.length > 0) || 'Please choose area',
                    ]"
                  />

                  <q-select
                    v-model="jobtitle"
                    :options="jobtitleOptions"
                    label="Job Title"
                    lazy-rules
                    :rules="[
                      (val) =>
                        (val && val.length > 0) || 'Please choose job title',
                    ]"
                  />

                  <q-select
                    v-model="skillset"
                    :options="skillsetOptions"
                    label="Skill Set"
                    lazy-rules
                    :rules="[
                      (val) =>
                        (val && val.length > 0) || 'Please type skill set',
                    ]"
                  />

                  <q-input
                    v-model="numberplate"
                    label="Number Plate"
                    lazy-rules
                    :rules="[
                      (val) =>
                        (val && val.length > 0) || 'Please type number plate',
                    ]"
                  />

                  <q-select
                    v-model="company"
                    :options="companyOptions"
                    label="Company"
                    lazy-rules
                    :rules="[
                      (val) =>
                        (val && val.length > 0) || 'Please choose company',
                    ]"
                  />

                  <div>
                    <q-btn label="Submit" type="submit" color="primary" />
                    <q-btn
                      label="Reset"
                      type="reset"
                      color="primary"
                      flat
                      class="q-ml-sm"
                    />
                  </div>
                </q-form>
              </q-card-section>
            </q-card>
          </q-dialog>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script src="./js/vehicle.js"></script>
