<template>
  <q-layout view="hhh lpR fFf">
    <q-header elevated class="bg-purple text-white">
      <q-toolbar>
        <!-- <q-toolbar-title> Title </q-toolbar-title> -->
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "LoginLayout",

  components: {},

  setup() {
    return {};
  },
});
</script>
