<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="bg-purple">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title> EASY App </q-toolbar-title>
        <div class="q-pt-md q-pr-md">
          <p>
            Hello, <b>{{ this.fullname }} !</b>
          </p>
        </div>

        <q-btn flat round dense icon="power_settings_new" to="/auth" />
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" show-if-above bordered>
      <q-list>
        <q-item-label header> Main Menu </q-item-label>

        <div v-if="role == 1">
          <EssentialLink
            v-for="link in essentialLinks"
            :key="link.title"
            v-bind="link"
          />
        </div>
        <div v-else>
          <EssentialLink
            v-for="link in essentialLinks2"
            :key="link.title"
            v-bind="link"
          />
        </div>

        <div v-if="role == 1">
          <q-item-label header> Master Menu </q-item-label>
          <EssentialLink
            v-for="link in masterLink"
            :key="link.title"
            v-bind="link"
          />
        </div>

        <q-item-label header> Account Menu </q-item-label>

        <EssentialLink
          v-for="link in accountLink"
          :key="link.title"
          v-bind="link"
        />
        <br />
        <br />
        <br />
        <br />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from "components/EssentialLink.vue";

const linksList = [
  {
    title: "Home",
    caption: "Home Page",
    icon: "home",
    link: "#/",
  },
  {
    title: "Employee",
    caption: "Employees Data",
    icon: "people",
    link: "#/employee",
  },
  {
    title: "History",
    caption: "Database Resign",
    icon: "history",
    link: "#/history",
  },
  {
    title: "Report",
    caption: "Peformance Report",
    icon: "trending_up",
    link: "#/report",
  },
  {
    title: "Recycle Bin",
    caption: "Deleted Employee Record",
    icon: "delete",
    link: "#/bin",
  },
  // {
  //   title: "Vehicle",
  //   caption: "Data Vehicle",
  //   icon: "directions_car",
  //   link: "#/vehicle",
  // },
];

const linksList2 = [
  {
    title: "Home",
    caption: "Home Page",
    icon: "home",
    link: "#/",
  },
  {
    title: "Employee",
    caption: "Employees Data",
    icon: "people",
    link: "#/employee",
  },
  {
    title: "History",
    caption: "Database Resign",
    icon: "history",
    link: "#/history",
  },
  {
    title: "Report",
    caption: "Peformance Report",
    icon: "trending_up",
    link: "#/report",
  },
];

const masterLinkMaster = [
  {
    title: "Regional",
    caption: "Regional Master Data",
    icon: "area_chart",
    link: "#/master/regional",
  },
  {
    title: "Division",
    caption: "Division Master Data",
    icon: "schema",
    link: "#/master/division",
  },
  {
    title: "Education",
    caption: "Education Master Data",
    icon: "school",
    link: "#/master/education",
  },
  {
    title: "Company",
    caption: "Company Master Data",
    icon: "business",
    link: "#/master/company",
  },
  {
    title: "Main Job",
    caption: "Main Job Master Data",
    icon: "construction",
    link: "#/master/job",
  },
  {
    title: "Position",
    caption: "Position Master Data",
    icon: "engineering",
    link: "#/master/position",
  },
  {
    title: "Level",
    caption: "Level Master Data",
    icon: "show_chart",
    link: "#/master/level",
  },
  {
    title: "User Account",
    caption: "User Account Master Data",
    icon: "settings",
    link: "#/master/user",
  },
];

const userLinkList = [
  {
    title: "Change Password",
    caption: "Change User Password",
    icon: "key",
    link: "#/account/changepass",
  },
  {
    title: "Logout",
    caption: "Exit From Easy App",
    icon: "logout",
    link: "#/auth",
  },
];

import { defineComponent, ref } from "vue";
import { api, axios } from "boot/axios";
import { LocalStorage, useQuasar } from "quasar";

export default defineComponent({
  name: "MainLayout",

  components: {
    EssentialLink,
  },

  setup() {
    const leftDrawerOpen = ref(false);
    const token = localStorage.getItem("user-token");
    const $q = useQuasar();
    return {
      essentialLinks: linksList,
      essentialLinks2: linksList2,
      masterLink: masterLinkMaster,
      accountLink: userLinkList,
      leftDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      },
      fullname: localStorage.getItem("user-fullname"),
      role: localStorage.getItem("user-role"),
    };
  },
  methods: {
    doUpdateStatus() {
      var token = LocalStorage.getItem("user-token");
      api
        .get("/checkstatus", {
          headers: {
            Authorization: token,
          },
        })
        .then((response) => {
          console.log(response.data);
        })
        .catch((error) => {
          this.$q.notify({
            color: "negative",
            icon: "report_problem",
            message: "error : " + error,
          });
          console.log("message : " + error);
          window.location.href = "/#/auth";
        });
    },
    initPage() {
      const userToken = localStorage.getItem("user-token");

      if (userToken === undefined || userToken === null) {
        window.location.href = "/#/auth";
      }

      this.doUpdateStatus();

      setInterval(() => {
        this.doUpdateStatus();
      }, 300000);
    },
  },
  beforeMount() {
    this.initPage();
  },
});
</script>
